flask
flask-sock
flask-cors
sqlmodel
psycopg2-binary
gunicorn
numpy<2
opencv-contrib-python==4.11.0.86
mediapipe==0.10.21
protobuf>=4.25.3,<5
torch
torchaudio
numpy
soundfile
speechbrain
python-dotenv
rapidocr-onnxruntime
rapidfuzz
requests
web3>=6,<9
py-solc-x>=2,<3